.container{
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items:center;
    flex-direction: column;
    margin: auto;
}
body{
    background-color: rgb(33, 187, 187);
}
.input{
    width: 345px;
    height: 100px;
    background-color: rgb(7, 71, 167);
    font-size: 30px;
    color: rgb(209, 209, 209);
    border-color: rgb(7, 71, 167);
}
.button{
    width: 80px;
    padding: 20px;
    margin: 3px 3px;
    border: 1px solid;
    /* background-color: blueviolet; */
    /* border-radius: 10%; */
}
.operator{
    background-color: rgb(0, 146, 172);
    color: antiquewhite;
    border-color: rgb(0, 146, 172);
}
.final{
    background-color: rgb(255, 117, 5);
    color: antiquewhite;
    border-color: rgb(255, 117, 5);
}
.numbers{
    background-color: rgb(7, 71, 167);
    border-color: rgb(7, 71, 167);
}
/* .span-2{
   align-items:start;
    width: 170px;
}
.row-2{
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 120px;
}
.inner-row1{
    width: 355px;
    justify-content: center;
    align-items:center ;
} */
.new-table{
    display: flex;

}
.new-table2 .button{
    height: 95%;
}
.inner-table3 .span2{
    width: 170px;
}